.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255,255,255, 0.7);
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Nav-logo {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #293684;
}
.Nav-cancel{
  margin-left: auto;
  margin-left: auto;
  background-color: #293684; /* Lila */
  color: white; /* Letras blancas */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  border-radius: 15px;
}
.Nav-cancel:hover {
  background-color: #3b24be; /* Cambia a otro tono de lila */
}