.Search {
  display: flex;
  flex-direction: column;
}

.Search-select {
  font-size: 1rem;
  margin: 16px 0;
  border-radius: 8px;
  padding: 8px;
  border: none;
}

/* .Search-continue {
  margin-left: auto;
}; */

.Search-continue{
  margin-left: auto;
  margin-left: auto;
  background-color: #293684; /* Lila */
  color: white; /* Letras blancas */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interior */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  border-radius: 15px;
}
.Search-continue:hover {
  background-color: #3b24be; /* Cambia a otro tono de lila */
}